@font-face {
  font-family: SegoeUI;
  src: url("../fonts/SegoeUI/SegoeUI.ttf");
}
@font-face {
  font-family: SegoeUI SemiBold;
  src: url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf");
}
@font-face {
  font-family: SegoeUI Bold;
  src: url("../fonts/SegoeUI/SegoeUI-Bold.ttf");
}

