@import url('variables.scss');
@import url('fonts.scss');

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  body {
    font-family: SegoeUI, sans-serif;
    font-size: 14px;
    height: auto;
    background: $white2;
    button {
      cursor: pointer;
      font-family: SegoeUI Bold;
      border: none;
      &:active,
      &:focus {
        outline: none;
      }
    }
    input[type="text"], input[type="password"],
    input[type="number"], input[type="tel"] {
      border: 1px solid $grey;
      padding-left: 5px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 30px;
      background: $white2;
      border-radius: 3px;
      box-sizing: border-box;
      font-family: SegoeUI, sans-serif;
      &:active,
      &:focus {
        outline: none;
      }
    }
    input {
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  select {
    height: 30px;
    background: $white2;
    border: 1px solid $grey;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: SegoeUI;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    option {
      font-family: SegoeUI, Arial;
    }
  }
  }
}
body, html {
  margin: 0;
  padding: 0;
  color: $black;
}
